.body
{
position:absolute;
background-color:#ffffff;
height:982px;
width:1512px;
padding:0px;
}
.image23
{
height:178px;
width:499px;
filter:drop-shadow(4px 4px 4px rgba(0,0,0,0.25));
left:200px;
top:300px;
position:absolute;
}
.logo-1-removebg-preview-12
{
height:318px;
width:318px;
left:100px;
top:-50px;
position:absolute;
}
.home
{
color:#024461;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
line-height:auto;
left:1400px;
top:50px;
position:absolute;
width:182px;
}
.about
{
color:#024461;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
left:1500px;
top:50px;
width:182px;
height:45px;
position:absolute;
line-height:auto;
}
.tiketpesawatcitilinkjakarta-bali16-00
{
color:#024461;
text-align:left;
vertical-align:text-top;
font-size:36px;
font-family:Inter;
left:1000px;
top:252px;
width:394px;
height:172px;
position:absolute;
line-height:auto;
}
.rp-1-200-000
{
color:#e25f00;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Inter;
left:1000px;
top:379px;
width:269px;
height:193px;
position:absolute;
line-height:auto;
}
.rectangle23
{
background-color:#e25f00;
height:62px;
width:270px;
border-radius:20px;
top:510px;
left:1000px;
position:absolute;
}
.book2
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Inter;
left:1100px;
top:521px;
width:269px;
height:181px;
position:absolute;
line-height:auto;
text-decoration: none;
}
