.body{
position:absolute;
background-color:#ffffff;
height:982px;
width:1512px;
padding:0px;
}
.logo-1-removebg-preview-11
{
height:291.0923156738281px;
width:318px;
left:200px;
top:-30px;
position:absolute;
}
.rectangle24
{
background-color:#d9d9d9;
height:35px;
width:35px;
filter:drop-shadow(4px 4px 4px rgba(0,0,0,0.25));
left:76px;
top:246px;
position:absolute;
}
.rectangle25
{
background-color:#ffffff;
height:99px;
width:1270px;
filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
top:224px;
left:250px;
position:absolute;
}
.rectangle27
{
background-color:#e25f00;
height:42px;
width:131px;
border-radius:10px;
top:254px;
left:1325px;
position:absolute;
}
.image23
{
height:47px;
width:132px;
filter:drop-shadow(4px 4px 4px rgba(0,0,0,0.25));
left:300px;
top:250px;
position:absolute;
}
.tiketjakartabali-bisnis1600
{
color:#024461;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:500px;
top:260px;
width:216px;
height:38px;
position:absolute;
line-height:auto;
}
.minus-sign1
{
height:20px;
width:20px;
transform:rotate(-180deg);
left:830px;
top:264px;
position:absolute;
}
.plus1
{
height:21px;
width:21px;
left:900px;
top:264px;
position:absolute;
}
.pertama
{
color:#024461;
text-align:left;
vertical-align:text-top;
font-size:28px;
font-family:Times New Roman;
left: 870px;
top:259px;
width:14px;
height:32px;
position:absolute;
line-height:auto;
}
.rp-1-200-000
{
color:#e25f00;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:1000px;
top:262px;
width:194px;
height:172px;
position:absolute;
line-height:auto;
}
.rectangle26
{
background-color:#e25f00;
height:42px;
width:131px;
border-radius:10px;
top:254px;
left:1180px;
position:absolute;
}
.remove2
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:1213px;
top:262px;
width:159px;
height:31px;
position:absolute;
line-height:auto;
text-decoration: none;
}
.book2
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:1370px;
top:261px;
width:159px;
height:31px;
position:absolute;
line-height:auto;
text-decoration: none;

}
.rectangle32
{
background-color:#d9d9d9;
height:35px;
width:35px;
filter:drop-shadow(4px 4px 4px rgba(0,0,0,0.25));
top:538px;
left:76px;
position:absolute;
}
.rectangle33
{
background-color:#ffffff;
height:99px;
width:1270px;
filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
top:516px;
left:250px;
position:absolute;
}
.rectangle34
{
background-color:#e25f00;
height:42px;
width:131px;
border-radius:10px;
top:546px;
left:1330px;
position:absolute;
}
.image25
{
height:47px;
width:132px;
filter:drop-shadow(4px 4px 4px rgba(0,0,0,0.25));
left:300px;
top:542px;
position:absolute;
}
.tiketsurabaya-lombok-bisnis16-00
{
color:#024461;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:500px;
top:546px;
width:216px;
height:38px;
position:absolute;
line-height:auto;
}
.minus-sign3
{
height:20px;
width:20px;
transform:rotate(-180deg);
left:830px;
top:556px;
position:absolute;
}
.plus3
{
height:21px;
width:21px;
left:900px;
top:556px;
position:absolute;
}
.ketiga
{
color:#024461;
text-align:left;
vertical-align:text-top;
font-size:28px;
font-family:Times New Roman;
left:870px;
top:551px;
width:14px;
height:32px;
position:absolute;
line-height:auto;
}
.rp-2-500-000
{
color:#e25f00;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:1000px;
top:554px;
width:194px;
height:172px;
position:absolute;
line-height:auto;
}
.rectangle35
{
background-color:#e25f00;
height:42px;
width:131px;
border-radius:10px;
top:546px;
left:1180px;
position:absolute;
}
.remove3
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:1213px;
top:554px;
width:159px;
height:31px;
position:absolute;
line-height:auto;
text-decoration: none;
}
.book3
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:1370px;
top:553px;
width:159px;
height:31px;
position:absolute;
line-height:auto;
text-decoration: none;
}
.rectangle28
{
background-color:#d9d9d9;
height:35px;
width:35px;
filter:drop-shadow(4px 4px 4px rgba(0,0,0,0.25));
top:392px;
left:76px;
position:absolute;
}
.rectangle29
{
background-color:#ffffff;
height:99px;
width:1270px;
filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
top:370px;
left:250px;
position:absolute;
}
.rectangle30
{
background-color:#e25f00;
height:42px;
width:131px;
border-radius:10px;
top:400px;
left:1325px;
position:absolute;
}
.tiketjakarta-surabaya-ekonomi200
{
color:#024461;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:500px;
top:400px;
width:216px;
height:38px;
position:absolute;
line-height:auto;
}
.minus-sign2
{
height:20px;
width:20px;
transform:rotate(-180deg);
left:830px;
top:410px;
position:absolute;
}
.plus2
{
height:21px;
width:21px;
left:900px;
top:410px;
position:absolute;
}
.kedua
{
color:#024461;
text-align:left;
vertical-align:text-top;
font-size:28px;
font-family:Times New Roman;
left:870px;
top:405px;
width:14px;
height:32px;
position:absolute;
line-height:auto;
}
.rp-2-000-000
{
color:#e25f00;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:1000px;
top:408px;
width:194px;
height:172px;
position:absolute;
line-height:auto;
}
.rectangle31
{
background-color:#e25f00;
height:42px;
width:131px;
border-radius:10px;
top:400px;
left:1180px;
position:absolute;
}
.remove4
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:1213px;
top:408px;
width:159px;
height:31px;
position:absolute;
line-height:auto;
text-decoration: none;
}
.book4
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:1370px;
top:407px;
width:159px;
height:31px;
position:absolute;
line-height:auto;
text-decoration: none;
}
.home
{
color:#024461;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
left:1300px;
top:55px;
width:182px;
height:45px;
position:absolute;
line-height:auto;
text-decoration: none;
}
.about
{
color:#024461;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
left:1400px;
top:56px;
width:182px;
height:45px;
position:absolute;
line-height:auto;
text-decoration: none;

}
.image22
{
height:52px;
width:92px;
left:300px;
top:398px;
position:absolute;
}
