body
{
position:absolute;
background-color:#e25f00;
height:982px;
width:1512px;
padding:0px;
left: 140px;
}
.rectangle3
{
background-color:#777777;
height:728px;
width:1087px;
border-radius:20px;
left:241px;
top:137px;
position:absolute;
}
.logoptih2
{
height:228px;
width:228px;
left:660px;
position:absolute;
top: -25px;
}
.rectangle4
{
background-color:#ffffff;
height:73px;
width:636px;
border-radius:50px;
top:243px;
left:471px;
position:absolute;
}
.rectangle5
{
background-color:#ffffff;
height:73px;
width:636px;
border-radius:50px;
top:363px;
left:471px;
position:absolute;
}
.buatakun
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
left:716px;
top:461px;
width:326px;
height:54px;
position:absolute;
line-height:auto;
text-decoration: none;
}
.loginwith
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
left:729px;
top:632px;
width:326px;
height:54px;
position:absolute;
line-height:auto;
}
.or
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
left:774px;
top:742px;
width:326px;
height:54px;
position:absolute;
line-height:auto;
}
.rectangle6
{
background-color:#e25f00;
height:67px;
width:319px;
left:621px;
top:526px;
position:absolute;
}
.line1
{
width:401px;
transform:rotate(-1deg);
border:1px solid #ffffff;
top:648px;
left:313px;
position:absolute;
}
.line2
{
width:401px;
transform:rotate(-1deg);
border:1px solid #ffffff;
top:648px;
left:874px;
position:absolute;
}
.email,username,no.telpon
{
color:#c4c4c4;
text-align:left;
vertical-align:text-top;
font-size:22px;
font-family:Inter;
left:514px;
top:269px;
width:404px;
height:47px;
position:absolute;
line-height:auto;
}
.password
{
color:#c4c4c4;
text-align:left;
vertical-align:text-top;
font-size:22px;
font-family:Inter;
left:514px;
top:389px;
width:404px;
height:47px;
position:absolute;
line-height:auto;
}
.login2
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Inter;
left:729px;
top:540px;
width:252px;
height:39px;
position:absolute;
line-height:auto;
text-decoration: none;
}
.rectangle7
{
background-color:#000000;
height:81px;
width:265px;
top:715px;
left:458px;
position:absolute;
}
.google
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Inter;
left:553px;
top:747px;
width:252px;
height:39px;
position:absolute;
line-height:auto;
text-decoration: none;
}
.loginwith2
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
left:548px;
top:724px;
width:326px;
height:54px;
position:absolute;
line-height:auto;
text-decoration: none;
}
.image13
{
height:51px;
width:51px;
left:471px;
top:730px;
position:absolute;
}
.rectangle8
{
background-color:#000000;
height:81px;
width:265px;
top:715px;
left:859px;
position:absolute;
}
.apple
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Inter;
left:954px;
top:747px;
width:252px;
height:39px;
position:absolute;
line-height:auto;
text-decoration: none;
}
.loginwith3
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
left:949px;
top:724px;
width:326px;
height:54px;
position:absolute;
line-height:auto;
text-decoration: none;
}
.image14
{
height:51px;
width:51px;
left:872px;
top:730px;
position:absolute;
}
