.body{
position:absolute;
background-color:#ffffff;
height:982px;
width:1512px;
padding:0px;
}
.logo-1-removebg-preview-11
{
height:291.0923156738281px;
width:318px;
left:200px;
top:-30px;
position:absolute;
}
.rectangle24
{
background-color:#d9d9d9;
height:35px;
width:35px;
filter:drop-shadow(4px 4px 4px rgba(0,0,0,0.25));
left:76px;
top:270px;
position:absolute;
}
.rectangle25
{
    position: absolute;
    width: 1340px;
    height: 154px;
    left: 152px;
    top: 207px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
}
.rectangle27
{
background-color:#e25f00;
height:42px;
width:131px;
border-radius:10px;
top:268px;
left:1325px;
position:absolute;
}
.image23
{
height:47px;
width:132px;
filter:drop-shadow(4px 4px 4px rgba(0,0,0,0.25));
left:300px;
top:250px;
position:absolute;
}
.tiketjakartabali-bisnis1600
{
color:#024461;
position: absolute;
width: 216px;
height: 38px;
left: 540px;
top: 246px;

font-family: 'Inter';
font-style: bold;
font-weight: 600;
font-size: 25px;
line-height: 24px;
}
.desk-bromo
{
    color:#024461;
    position: absolute;
    width: 216px;
    height: 38px;
    left: 540px;
    top: 278px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
}
.desk-puncak
{
    color:#024461;
    position: absolute;
    width: 216px;
    height: 38px;
    left: 540px;
    top: 465px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
}
.desk-pantai
{
    color:#024461;
    position: absolute;
    width: 216px;
    height: 38px;
    left: 540px;
    top: 638px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
}
.minus-sign1
{
height:20px;
width:20px;
transform:rotate(-180deg);
left:805px;
top:280px;
position:absolute;
}
.plus1
{
height:21px;
width:21px;
left:880px;
top: 280px;
position:absolute;
}
.pertama
{
color:#024461;
text-align:left;
vertical-align:text-top;
font-size:28px;
font-family:Times New Roman;
left: 850px;
top:275px;
width:14px;
height:32px;
position:absolute;
line-height:auto;
}
.rp-1-200-000
{
color:#e25f00;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:1000px;
top:275px;
width:194px;
height:172px;
position:absolute;
line-height:auto;
}
.rectangle26
{
background-color:#e25f00;
height:42px;

width:131px;
border-radius:10px;
top:268px;
left:1180px;
position:absolute;
}
.remove2
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:1213px;
top:275px;
width:159px;
height:31px;
position:absolute;
line-height:auto;
text-decoration: none;
}
.book2
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:1370px;
top:275px;
width:159px;
height:31px;
position:absolute;
line-height:auto;
text-decoration: none;

}
.rectangle32
{
background-color:#d9d9d9;
height:35px;
width:35px;
filter:drop-shadow(4px 4px 4px rgba(0,0,0,0.25));
top:630px;
left:76px;
position:absolute;
}
.rectangle33
{
    position: absolute;
    width: 1340px;
    height: 154px;
    left: 152px;
    top: 572px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
}
.rectangle36
{
    position: absolute;
    width: 1340px;
    height: 154px;
    left: 152px;
    top: 757px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
}
.rectangle34
{
background-color:#e25f00;
height:42px;
width:131px;
border-radius:10px;
top:613px;
left:1330px;
position:absolute;
}
.image25
{
height:47px;
width:132px;
filter:drop-shadow(4px 4px 4px rgba(0,0,0,0.25));
left:300px;
top:542px;
position:absolute;
}
.tiketsurabaya-lombok-bisnis16-00
{
color:#024461;


position: absolute;
width: 216px;
height: 38px;
left: 540px;
top: 603px;

font-family: 'Inter';
font-style: bold;
font-weight: 600;
font-size: 25px;
line-height: 24px;

}
.minus-sign3
{
    height:20px;
    width:20px;
    transform:rotate(-180deg);
    left:805px;
    top:635px;
    position:absolute;
}
.plus3
{
height:21px;
width:21px;
left:880px;
top:633px;
position:absolute;
}
.ketiga
{
color:#024461;
text-align:left;
vertical-align:text-top;
font-size:28px;
font-family:Times New Roman;
left:850px;
top:630px;
width:14px;
height:32px;
position:absolute;
line-height:auto;
}
.rp-2-500-000
{
color:#e25f00;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:1000px;
top:630px;
width:194px;
height:172px;
position:absolute;
line-height:auto;
}
.rectangle35
{
background-color:#e25f00;
height:42px;
width:131px;
border-radius:10px;
top:620px;
left:1180px;
position:absolute;
}
.remove3
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:1213px;
top:630px;
width:159px;
height:31px;
position:absolute;
line-height:auto;
text-decoration: none;
}
.book3
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:1380px;
top:630px;
width:159px;
height:31px;
position:absolute;
line-height:auto;
text-decoration: none;
}
.rectangle28
{
background-color:#d9d9d9;
height:35px;
width:35px;
filter:drop-shadow(4px 4px 4px rgba(0,0,0,0.25));
top:450px;
left:76px;
position:absolute;
}
.rectangle29
{
    position: absolute;
    width: 1340px;
    height: 154px;
    left: 152px;
    top: 392px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
}
.rectangle30
{
background-color:#e25f00;
height:42px;
width:131px;
border-radius:10px;
top:448px;
left:1325px;
position:absolute;
}
.tiketjakarta-surabaya-ekonomi200
{
color:#024461;
position: absolute;
width: 216px;
height: 38px;
left: 540px;
top: 427px;

font-family: 'Inter';
font-style: bold;
font-weight: 600;
font-size: 25px;
line-height: 24px;
}
.minus-sign2
{
    height:20px;
    width:20px;
    transform:rotate(-180deg);
    left:805px;
    top:460px;
    position:absolute;
}
.plus2
{
    height:21px;
    width:21px;
    left:880px;
    top: 457px;
    position:absolute;
    }

.kedua
{
    color:#024461;
    text-align:left;
    vertical-align:text-top;
    font-size:28px;
    font-family:Times New Roman;
    left: 850px;
    top:453px;
    width:14px;
    height:32px;
    position:absolute;
    line-height:auto;
}
.rp-2-000-000
{
color:#e25f00;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:1000px;
top:457px;
width:194px;
height:172px;
position:absolute;
line-height:auto;
}
.rectangle31
{
background-color:#e25f00;
height:42px;
width:131px;
border-radius:10px;
top:448px;
left:1180px;
position:absolute;
}
.remove4
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:1213px;
top:455px;
width:159px;
height:31px;
position:absolute;
line-height:auto;
text-decoration: none;
}
.book4
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:1370px;
top:455px;
width:159px;
height:31px;
position:absolute;
line-height:auto;
text-decoration: none;
}
.home
{
color:#024461;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
left:1300px;
top:55px;
width:182px;
height:45px;
position:absolute;
line-height:auto;
text-decoration: none;
}
.about
{
color:#024461;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
left:1400px;
top:56px;
width:182px;
height:45px;
position:absolute;
line-height:auto;
text-decoration: none;

}
.image22
{
height:52px;
width:92px;
left:300px;
top:398px;
position:absolute;
}
.bromo
{
    position: absolute;
width: 377px;
height: 154px;
left: 152px;
top: 207px;


}
.pantai
{
    position: absolute;
    width: 377px;
    height: 159px;
    left: 152px;
    top: 567px;
    
    background: url(Rectangle 33 (2).png);
}
.puncak
{
    position: absolute;
width: 377px;
height: 154px;
left: 152px;
top: 392px;

}

