.body{
position:absolute;
background-color:#ffffff;
height:982px;
width:1512px;
padding:0px;
}
.logo-1-removebg-preview-12
{
height:318px;
width:318px;
left:100px;
top:-30px;
position:absolute;

}
.home
{
color:#024461;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
line-height:auto;
left:1450px;
top:70px;
position:absolute;
width:182px;
}
.about
{
color:#024461;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
left:1550px;
top:71px;
width:182px;
height:45px;
position:absolute;
line-height:auto;
}
.rectangle1
{
background-color:#eaeaea;
height:44px;
width:543px;
border-radius:50px;
top:61px;
left:650px;
position:absolute;
}
.carimaskapaidisini
{
color:#646464;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:700px;
top:71px;
width:201px;
height:44px;
position:absolute;
line-height:auto;
}
.image3
{
height:26px;
width:26px;
left:670px;
top:71px;
position:absolute;
}
.rectangle15
{
background-color:#ffffff;
height:324px;
width:245px;
filter:drop-shadow(4px 4px 4px rgba(0,0,0,0.25));
top:167px;
left:80px;
position:absolute;
}
.tiketpesawatcitilinkjakarta-bali
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:120px;
top:339px;
width:194px;
height:172px;
position:absolute;
line-height:auto;
text-decoration: none;
}
.rp-1-200-000
{
color:#e25f00;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:140px;
top:425px;
width:194px;
height:172px;
position:absolute;
line-height:auto;
}
.rectangle22
{
background-color:#ffffff;
height:324px;
width:245px;
filter:drop-shadow(4px 4px 4px rgba(0,0,0,0.25));
top:559px;
left:1001px;
position:absolute;
}
.tiketpesawatcitilinkjakarta-bali2
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:1041px;
top:731px;
width:194px;
height:172px;
position:absolute;
line-height:auto;
}
.rp-1-200-0002
{
color:#e25f00;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:1061px;
top:817px;
width:194px;
height:172px;
position:absolute;
line-height:auto;
}
.image46
{
height:112px;
width:112px;
left:1068px;
top:588px;
position:absolute;
}
.rectangle21
{
background-color:#ffffff;
height:324px;
width:245px;
filter:drop-shadow(4px 4px 4px rgba(0,0,0,0.25));
top:559px;
left:696px;
position:absolute;
}
.tiketpesawatcitilinkjakarta-bali3
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:736px;
top:731px;
width:194px;
height:172px;
position:absolute;
line-height:auto;
}
.rp-1-200-0003
{
color:#e25f00;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:756px;
top:817px;
width:194px;
height:172px;
position:absolute;
line-height:auto;
}
.image45
{
height:112px;
width:112px;
left:763px;
top:588px;
position:absolute;
}
.rectangle16
{
background-color:#ffffff;
height:324px;
width:245px;
filter:drop-shadow(4px 4px 4px rgba(0,0,0,0.25));
top:167px;
left:378px;
position:absolute;
}
.tiketpesawatcitilinkjakarta-bali4
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:418px;
top:339px;
width:194px;
height:172px;
position:absolute;
line-height:auto;
}
.rp-1-200-0004
{
color:#e25f00;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:438px;
top:425px;
width:194px;
height:172px;
position:absolute;
line-height:auto;
}
.image40
{
height:112px;
width:112px;
left:445px;
top:196px;
position:absolute;
}
.rectangle17
{
background-color:#ffffff;
height:324px;
width:245px;
filter:drop-shadow(4px 4px 4px rgba(0,0,0,0.25));
top:167px;
left:696px;
position:absolute;
}
.tiketpesawatcitilinkjakarta-bali5
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:736px;
top:339px;
width:194px;
height:172px;
position:absolute;
line-height:auto;
}
.rp-1-200-0005
{
color:#e25f00;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:756px;
top:425px;
width:194px;
height:172px;
position:absolute;
line-height:auto;
}
.image41
{
height:112px;
width:112px;
left:763px;
top:196px;
position:absolute;
}
.rectangle18
{
background-color:#ffffff;
height:324px;
width:245px;
filter:drop-shadow(4px 4px 4px rgba(0,0,0,0.25));
top:167px;
left:991px;
position:absolute;
}
.tiketpesawatcitilinkjakarta-bali6
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:1031px;
top:339px;
width:194px;
height:172px;
position:absolute;
line-height:auto;
}
.rp-1-200-0006
{
color:#e25f00;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:1051px;
top:425px;
width:194px;
height:172px;
position:absolute;
line-height:auto;
}
.image42
{
height:112px;
width:112px;
left:1058px;
top:196px;
position:absolute;
}
.rectangle19
{
background-color:#ffffff;
height:324px;
width:245px;
filter:drop-shadow(4px 4px 4px rgba(0,0,0,0.25));
top:559px;
left:80px;
position:absolute;
}
.tiketpesawatcitilinkjakarta-bali7
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:120px;
top:731px;
width:194px;
height:172px;
position:absolute;
line-height:auto;
}
.rp-1-200-0007
{
color:#e25f00;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:140px;
top:817px;
width:194px;
height:172px;
position:absolute;
line-height:auto;
}
.image43
{
height:112px;
width:112px;
left:147px;
top:588px;
position:absolute;
}
.rectangle20
{
background-color:#ffffff;
height:324px;
width:245px;
filter:drop-shadow(4px 4px 4px rgba(0,0,0,0.25));
top:559px;
left:369px;
position:absolute;
}
.tiketpesawatcitilinkjakarta-bali8
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:409px;
top:731px;
width:194px;
height:172px;
position:absolute;
line-height:auto;
}
.rp-1-200-0008
{
color:#e25f00;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:429px;
top:817px;
width:194px;
height:172px;
position:absolute;
line-height:auto;
}
.image44
{
height:112px;
width:112px;
left:436px;
top:588px;
position:absolute;
}
.image23
{
height:57px;
width:160px;
left:137px;
top:224px;
position:absolute;
}


